[include]
	path = ~/.gitconfig.local

[core]
	editor = code --wait
	pager = less -FRX

[init]
	defaultBranch = main

[pull]
	rebase = false

[fetch]
	prune = true

[push]
	autoSetupRemote = true

[rerere]
	enabled = true